.container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  background: #000;
  display: flex;
  .carousel {
    margin: auto 0;
    .carouselItem {
      display: flex;
      height: 100%;
      align-items: center;
    }
  }
}
