@import '@/assets/styles/mixins.scss';

.container {
  width: 100vw;
  min-height: 100vh;
  background-color: #fff;
  padding-bottom: 1.5rem;
  @include scrollbar-hide;
  .tabsContainer {
    margin-top: 0.2rem;
    padding-bottom: 0.15rem;
    border-bottom: 0.01rem solid #aaa;
  }

  .empty {
    height: 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.6rem;
    color: #aaa;
    .emptyIcon {
      font-size: 1rem;
    }
  }

  .messageItem {
    height: 1.6rem;
    padding-left: 0.2rem;
    border-bottom: 0.01rem solid #eee;
    display: flex;
    align-items: center;
    &:active {
      background-color: #eee;
    }

    .pointContainer {
      position: relative;
      .point {
        width: 0.2rem;
        height: 0.2rem;
        background-color: #d01f12;
        border: 1px solid transparent;
        border-radius: 50%;
        position: absolute;
        top: 0;
        right: 0;
      }
      .avatar {
        height: 0.8rem;
        width: 0.8rem;
        flex-shrink: 0;
        @include image-container-circle;

        .avatarImage {
          height: 100%;
          width: 100%;
        }

        .adminIcon {
          font-size: 0.72rem;
        }
      }
    }

    .contentContainer {
      margin-left: 0.3rem;
      .nameContainer {
        margin-bottom: 0.1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .content {
        width: 5.6rem;
        .text {
          display: inline-block;
          width: 100%;
          font-size: 0.28rem;
          color: #aaa;
          @include text-ellipsis;
        }

        .process {
          display: inline-block;
          width: 100%;
          font-size: 0.3rem;
          color: #00bcd4;
          @include text-ellipsis;
        }

        .accept {
          display: inline-block;
          width: 100%;
          font-size: 0.3rem;
          color: #49b150;
          @include text-ellipsis;
        }

        .refuse {
          display: inline-block;
          width: 100%;
          font-size: 0.3rem;
          color: #d01f12;
          @include text-ellipsis;
        }
      }
    }
  }
}
