.container {
  padding: 10px 10px 0 10px;
  overflow-y: auto;
  .password {
    width: 100%;
    height: 620px;
    background-color: #fff;
    overflow: hidden;
    padding: 30px 35%;
    .title {
      font-size: 26px;
      font-weight: bold;
      color: #666;
      text-align: center;
    }
    .formContainer {
      .btnGroup {
        width: 100%;
        text-align: center;
        .saveBtn {
          width: 100px;
          margin-right: 15%;
        }
        .resetBtn {
          width: 100px;
        }
      }
    }
  }
}
