.container {
  height: 100vh;
  width: 100vw;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .mobileIcon {
    display: block;
    font-size: 1.6rem;
  }
  .mobileStatus {
    font-size: 0.8rem;
    color: #787878;
  }
  .mobileText {
    font-size: 0.8rem;
    color: #c9d3d6;
  }

  .pcIcon {
    display: block;
    font-size: 200px;
  }

  .pcStatus {
    font-size: 70px;
    color: #787878;
  }

  .pcText {
    font-size: 70px;
    color: #c9d3d6;
  }
}
