.container {
  padding: 10px 10px 0 10px;
  overflow-y: auto;

  .banner {
    width: 100%;
    min-height: 620px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 30px 32%;
    .title {
      font-size: 26px;
      font-weight: bold;
      color: #666;
      text-align: center;
    }

    .formContianer {
      width: 100%;
      .textarea {
        width: 750px;
        resize: none;
      }
    }

    .imageContainer {
      position: relative;
      .deleteIconContainer {
        padding: 0 4px;
        position: absolute;
        top: -10px;
        right: -5px;
        z-index: 5;
        cursor: pointer;
        .deleteIcon {
          font-size: 25px;
        }
      }
    }

    .view {
      //头像展示容器样式
      position: relative;
      height: 200px;
      border: #ccc 1px solid;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      // hover时将图片透明度设为从1到0.1
      .pictureImg {
        height: 200px;
        width: 100%;
        opacity: 1;
        transition: 0.3s ease-in-out;
      }

      &:hover .pictureImg {
        opacity: 0.1;
      }

      .pictureIcon {
        opacity: 1;
        transition: 0.3s ease-in-out;
        font-size: 80px;
      }

      &:hover .pictureIcon {
        opacity: 0.1;
      }

      .upload {
        // 脱离文档流，不与图片一起横放，而是叠在图片上面
        position: absolute;
        opacity: 0;
        z-index: 2;
        .uploadIcon {
          font-size: 100px;
        }
        .uploadText {
          font-weight: bold;
        }
      }

      // hover时将icon透明度设为从0到0.8
      &:hover .upload {
        opacity: 0.8;
        transition: 0.8s ease-in-out;
      }
    }

    .btnGroup {
      text-align: center;
      .saveBtn {
        width: 90%;
      }
    }
  }
}
