.inputContainer {
  height: 2.8rem;
  .password {
    width: 90%;
    display: block;
    border: 0.02rem solid #ddd;
    padding: 0.2rem 0.3rem;
    margin: 0.2rem auto 0 auto;
    &::-webkit-input-placeholder,
    &::-moz-placeholder,
    &::-ms-input-placeholder {
      color: #bbb;
    }
  }
}
.passwordBtnGroup {
  height: 1rem;
  margin-top: 0.4rem;
  display: flex;
  border-top: 0.02rem solid #ddd;
  .cancelBtn {
    flex: 1;
    box-sizing: border-box;
    border-right: 0.02rem solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    &:active {
      background-color: #ccc;
    }
  }
  .confirmBtn {
    color: #108ee9;
    flex: 1;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    &:active {
      background-color: #ccc;
    }
  }
}
