@import '@/assets/styles/mixins.scss';

.container {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  @include scrollbar-hide;

  .plus {
    font-size: 0.48rem;
  }

  .bannerContainer {
    background-color: #fff;
    padding-bottom: 0.15rem;
    .image {
      height: 3rem;
      width: 100%;
    }

    .content {
      padding: 0 0.4rem;
      margin-top: 0.6rem;
      font-size: 0.28rem;
      line-height: 0.5rem;
      text-align: justify;
      text-indent: 2em;
    }
    .source {
      margin-top: 0.4rem;
      margin-right: 0.4rem;
      text-align: right;
      font-size: 0.28rem;
    }
  }

  .habitList {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.4rem;
    .empty {
      height: 4rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 0.6rem;
      color: #aaa;
      .emptyIcon {
        font-size: 1rem;
      }
    }

    .disableItem {
      height: 1.4rem;
      width: 95%;
      margin-top: 0.3rem;
      color: #fff;
      border-radius: 0.2rem;
      box-shadow: 0 0.04rem 0.04rem rgba(11, 18, 24, 0.3);
      display: flex;
      align-items: center;
      position: relative;
      transition: all 0.4s;
      user-select: none;
      background-color: #aaa;
    }

    .habitItem {
      height: 1.4rem;
      width: 95%;
      margin-top: 0.3rem;
      color: #fff;
      border-radius: 0.2rem;
      box-shadow: 0 0.04rem 0.04rem rgba(11, 18, 24, 0.3);
      display: flex;
      align-items: center;
      position: relative;
      transition: all 0.4s;
      user-select: none;
      &:active {
        background-color: #634f30;
        transform: scale(0.9);
      }
    }

    .dayTimeIcon {
      margin-left: 0.2rem;
      font-size: 1rem;
    }
    .habit {
      width: 4.8rem;
      display: flex;
      flex-direction: column;
      margin-left: 0.15rem;
      .habitName {
        font-size: 0.44rem;
        font-weight: bold;
      }
      .motto {
        font-size: 0.28rem;
        @include text-ellipsis;
      }
    }
    .success {
      font-size: 0.7rem;
      position: absolute;
      right: 0.2rem;
    }
  }
}

.allDayColor {
  background-color: #80dd84;
}

.morningColor {
  background-color: #e18184;
}

.afternoonColor {
  background-color: #dbbc4b;
}

.eveningColor {
  background-color: #82cedf;
}
