@font-face {
  font-family: 'iconfont';
  src: url('../fonts/iconfont.eot'); /* IE9 */
  src: url('../fonts/iconfont.eot') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/iconfont.woff') format('woff'), url('../fonts/iconfont.ttf') format('truetype'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */ url('../fonts/iconfont.svg') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bqxin:before {
  content: '\e68b';
}

.icon-mine:before {
  content: '\e600';
}

.icon-wanshang:before {
  content: '\e6aa';
}

.icon-zaoshang:before {
  content: '\e6ab';
}

.icon-zhongwu:before {
  content: '\e6ac';
}

.icon-cc-earth:before {
  content: '\e63b';
}

.icon-iconset0103:before {
  content: '\e602';
}

.icon-pass:before {
  content: '\e6d4';
}

.icon-comment:before {
  content: '\e638';
}

.icon-tuichu2:before {
  content: '\e64d';
}

.icon-3701mima:before {
  content: '\e66b';
}

.icon-ban:before {
  content: '\e634';
}

.icon-sexw:before {
  content: '\e61f';
}

.icon-sexm:before {
  content: '\e632';
}

.icon-edit:before {
  content: '\e6b0';
}

.icon-kulian:before {
  content: '\e636';
}

.icon-cat:before {
  content: '\e65e';
}

.icon-dagouyouquan:before {
  content: '\e630';
}

.icon-03:before {
  content: '\e607';
}

.icon-jianduchuanhuo:before {
  content: '\e70e';
}

.icon-star:before {
  content: '\e70a';
}

.icon-today:before {
  content: '\e6e6';
}

.icon-picture:before {
  content: '\e65a';
}

.icon-message:before {
  content: '\e633';
}

.icon-eye:before {
  content: '\e722';
}

.icon-jia:before {
  content: '\e659';
}

.icon-plus:before {
  content: '\e685';
}

.icon-record:before {
  content: '\e605';
}

.icon-empty:before {
  content: '\e60d';
}

.icon-icon-test:before {
  content: '\e6e7';
}

.icon-shanchu:before {
  content: '\e61e';
}

.icon-touxiang:before {
  content: '\e673';
}

.icon-extension_not_completed:before {
  content: '\e60c';
}

.icon-ziliao:before {
  content: '\e631';
}

.icon-barchart:before {
  content: '\e7af';
}

.icon-icon-:before {
  content: '\e749';
}

.icon-laoban:before {
  content: '\e60a';
}

.icon-zhuanxierizhi:before {
  content: '\e609';
}

.icon-daqiafafang:before {
  content: '\e624';
}

.icon-eyeclose-fill:before {
  content: '\e8ff';
}
