.frozenBtn.ant-btn-primary {
  background-color: #f2401e;
  border-color: #f2401e;
}

.frozenBtn.ant-btn-primary:hover {
  background-color: #fa6161;
  border-color: #fa6161;
}

.thawBtn.ant-btn-primary {
  // color: #5ab151;
  background-color: #409a40;
  border-color: #409a40;
}

.thawBtn.ant-btn-primary:hover {
  background-color: #62b862;
  border-color: #62b862;
}
